h1 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 5px;
}
h3 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: -60px;
}
ul {
  list-style-type: none;
  margin-left: -40px;
}
h5 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: -60px;
}
h6 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
}
.container {
  margin-top: 10px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #9fb8d1 0%, #b7b7b7 70%);
  overflow: hidden;
}
.search-bar {
  display: flex;
  align-items: center;
}
.form-control {
  width: 350px;
  border-radius: 8px;
  display: inline;
  height: 30px;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}
.btn {
  display: inline;
  width: 70px;
  height: 30px;
  align-items: center;
  margin-left: 5px;
  color: white;
  background: #9fb8d1;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  transition: all 200ms ease-in-out;
  border-radius: 8px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background: white;
  color: #9fb8d1;
  font-family: "Quicksand", sans-serif;
}
.detail {
  margin-top: 35px;
  margin-bottom: 35px;
}
.float {
  font-size: 16px;
  display: inline;
  position: relative;
  top: -18px;
}
.daily {
  margin-top: 35px;
}
.col-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}
p {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  color: #9fb8d1;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: #9fb8d1;
}
a:hover {
  color: #9fb8d1;
}
.icon-icon_01_sunny:before {
  content: "\e900";
  font-size: 35px;
  font-weight: 500;
}
.icon-icon_02_cloudy:before {
  content: "\e901";
  font-size: 30px;
  font-weight: 500;
}
.icon-icon_03_partly-cloudy:before {
  content: "\e902";
  font-size: 30px;
  font-weight: 500;
}
.icon-icon_04_rainy:before {
  content: "\e903";
  font-size: 30px;
  font-weight: 500;
}
.icon-icon_05_snowy:before {
  content: "\e904";
  font-size: 30px;
  font-weight: 500;
}
img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-top: -80px;
  margin-right: -40px;
}
